* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    background-image: url(../img/bg.jpg);
    background-color: #d4e4eb;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 245px;
    padding: 5px;
    border: 1px solid #74b5d1;
    background-color: #9dcfe4;
    border-radius: 5px;
    box-shadow: inset 0 1px #bcebff;
}

.search-form__field {
    width: 195px;
    background-color: #fff;
    border: 1px solid #74b5d1;
    padding: 8px 0 8px 12px;
    border-radius: 5px;
    font-size: 12px;
    line-height: 17px;
    color: #38525f;
    box-shadow: 0 1px 0 #bae9ff;
}

.search-form-btn {
    width: 20px;
    height: 18px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}